appnope==0.1.2
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==4.1.0
ca-certificates==2022.4.26
certifi==2022.5.18.1
cffi==1.15.0
dbus==1.13.18
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
expat==2.4.4
gettext==0.21.0
glib==2.69.1
icu==58.2
importlib-metadata==4.11.3

importlib_resources==5.2.0
ipykernel==6.9.1
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
jinja2==3.0.3
jpeg==9e
jsonschema==4.4.0
jupyter==1.0.0
jupyter_client==7.2.2
jupyter_console==6.4.3
jupyter_core==4.10.0
jupyterlab_pygments==0.1.2
jupyterlab_widgets==1.0.0
libcxx==12.0.0
libffi==3.3
libiconv==1.16
libpng==1.6.37
libsodium==1.0.18
libxml2==2.9.14
llvm-openmp==12.0.0
markupsafe==2.0.1
matplotlib-inline==0.1.2
mistune==0.8.4
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.3.0
ncurses==6.3
nest-asyncio==1.5.5
notebook==6.4.11
openssl==1.1.1o
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pcre==8.45
pexpect==4.8.0
pickleshare==0.7.5
pip==21.2.2
prometheus_client==0.13.1
prompt-toolkit==3.0.20

ptyprocess==0.7.0
pycparser==2.21
pygments==2.11.2
pyparsing==3.0.4
pyqt==5.9.2
pyrsistent==0.18.0
python-dateutil==2.8.2
python-fastjsonschema==2.15.1
python==3.7.13
pyzmq==22.3.0
qt==5.9.7
qtconsole==5.3.0
qtpy==2.0.1
readline==8.1.2
send2trash==1.8.0
setuptools==61.2.0
sip==4.19.8
six==1.16.0
soupsieve==2.3.1
sqlite==3.38.3
terminado==0.13.1
testpath==0.5.0
tk==8.6.11
tornado==6.1
traitlets==5.1.1
typing-extensions==4.1.1
typing_extensions==4.1.1
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.37.1
widgetsnbextension==3.5.2
xz==5.2.5
zeromq==4.3.4
zipp==3.8.0
zlib==1.2.12
